@import url("http://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #78c1f3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 550px;
}

.todo-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 5px;
}

.todo-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 20px;
    border-radius: 30px;
    background: #edeef0;
}

.todo-body input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 0;
    font-size: 18px;
}

.todo-body img{
    width: 65px;
    height: 65px;
    padding: 15px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #edeef0;
}

h5 {
    text-align: center;
    margin-bottom: 10px;
    color: green;
}

.todo-controls {
    width: 25px;
    height: 25px;
    padding: 3px;
    margin-right: 5px;
}

.todo-controls .checkmark{
    user-select: none;
    pointer-events: none;
}